
.card_request{
    display: flex;
    flex-direction: column;
}

.user-requests {
    display: flex;
    justify-content: center;
}

.button-status{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.text_message{
    resize: none;
}

@media all and (max-width: 850px) {

    .request_image {
        display: none;
    }

    .requests {
        height: 400px;
        display: flex;
        flex-direction: column;
        height: 350px;
    }

    .row_request{
        margin: 0 !important;
    }
}