.title_request {
    display: flex;
    flex-direction: row;
}

.Mechanical {
    color: yellowgreen;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0.75rem;
}

.DIY {
    color: red;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0.75rem;
}

.Home {
    color: blue;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0.75rem;
}

.Other {
    color: purple;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0.75rem;
}